Builds/
Library/
*.meta
*.rar
*.zip

###

Temp/
Assets/Editor
Assets/Gizmos
Assets/GooglePlayGames
Assets/GameAnalytics
Assets/AppMetrica
Assets/GoogleMobileAds
Assets/Plugins
Assets/PlayServicesResolver
Assets/VkApiForMobile
Assets/UnityAds